<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">
    <title>blockchain</title>
  </head>
  <body>



    <a href="/blocks/all">all blocks</a>
    <a href="/blocks/2">block index 2</a>
    <a href="/blocks/1/3">blocks index 1~3</a>
    <a href="/blocks/last">last block</a>
    <a href="/blocks/height">block height</a>

    <form class="" action="/" method="post">
      <input type="text" name="address" placeholder="输入地址" value="">
      <input type="submit" name="" value="搜索">
    </form>

    <div class="">
      <h2>发出 {{out_logs|length}} 条</h2>
      {% for block in out_logs %}
        <p>时间：{{block["timestamp"]}}</p>
        <p>{{block["consignor"]}}</p>
        <p>给地址：{{block["consignee"]}}</p>
        <p>发送的信息：{{block["memo"]}}</p>
      {% endfor %}
    </div>

    <div class="">
      <h2>收到 {{in_logs|length}} 条</h2>
      {% for block in in_logs %}
        <p>时间：{{block["timestamp"]}}</p>
        <p>{{block["consignee"]}}</p>
        <p>收到来自于地址：{{block["consignor"]}}</p>
        <p>收到的信息：{{block["memo"]}}</p>
      {% endfor %}
    </div>


  </body>
</html>
