<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">
    <title>blockchain</title>
  </head>
  <body>

    <form class="" action="/post" method="post">
      <input type="text" name="from_address" value="">
      <input type="text" name="to_address" value="">
      <input type="text" name="memo" value="">
      <input type="submit" name="" value="上链">
    </form>
  </body>
</html>
